{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
<section class="container">
  <div class="binarySelect">
    <a href="{{ url_for('register.student') }}">Student</a>
    <a href="{{ url_for('register.teacher') }}">Teacher</a>
  </div>
  <div class="register">
    <div class="border left">
      <form method="post" name="teacherAddForm" class="post-form">
        {{ form.csrf_token }}
        <!-- 폼 에러 알림 -->
        {% if error_list %}
        <div class="alert alert-danger" role="alert">
          {% for field, errors in error_list.items() %}
          <strong>{{ form[field].label }}</strong>
          <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
          </ul>
          {% endfor %}
        </div>
        {% endfor %}
        {% endif %}

        <!-- 교사 등록 테이블 -->
        <table class="table text-center">
          <tr class="">
            <th>로그인 ID</th>
            <td>
              <input type="text" name="account" class="form-control">
            </td>
          </tr>
          <tr>
            <th>비밀번호</th>
            <td>
              <input type="password" name="password1" class="form-control">
            </td>
          </tr>
          <tr>
            <th>비밀번호 재입력</th>
            <td>
              <input type="password" name="password2" class="form-control">
            </td>
          </tr>
          <tr>
            <th>초기 포인트</th>
            <td><input type="number" name="point" class="form-control"></td>
          </tr>
          <tr>
            <th>성명</th>
            <td><input type="text" name="name" class="form-control"></td>
          </tr>
        </table>
        <input type="submit" class="form-control btn btn-primary">
      </form>
    </div>
    <!-- 교사 테이블 뷰어 -->
    <div class="border right">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">account</th>
            <th scope="col">point</th>
            <th scope="col">name</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if teacher_list %}
          {% for teacher in teacher_list %}
          <tr>
            <th scope="row">{{ loop.revindex }}</th>
            <td>{{ teacher.account }}</td>
            <td>{{ teacher.point }}</td>
            <td>{{ teacher.name }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6" class="text-body-secondary">등록된 교사가 없습니다.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}