body {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* header */
header {
  height: 6rem;
  display: flex;
  justify-content: center;
}
header h1 {
  height: 100%;
  text-align: center;
  line-height: 6rem;
  flex: 0.5;
}
/* nav */
nav {
  height: 4rem;
  display: flex;
  justify-content: space-around;
}
nav a {
  width: 100%;
  line-height: 4rem;
  text-align: center;
  display: block;
  font-size: 1.2rem;
}
/* table */
table {
  /* text-align: center; */
}
table tr {
  display: flex;
  flex-direction: row;
}
table tr th {
  flex: 0.3;
  align-content: center;
}
table tr td {
  flex: 0.7;
  align-content: center;
}