body {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
#hnav {
  height: 20vh;
  display: flex;
  flex-direction: column;
}
/* header */
header {
  flex: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  text-align: center;
  flex: 0.5;
}
/* nav */
nav {
  flex: 0.3;
  display: flex;
  justify-content: space-around;
}
nav a {
  width: 100%;
  line-height: 4rem;
  text-align: center;
  display: block;
  font-size: 1.2rem;
}
/* section */
section {
  padding-top: 3vh;
}
/* table */
table tr {
  display: flex;
  flex-direction: row;
}
tr > * {
  flex: 1;
}