section {
  height: 60vh;
}
/* search */
.search {
  display: flex;
  height: 30vh;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3vh;
}
.search .form {
  flex: 0.3;
}
.search .table {
  flex: 0.6;
}
.search form > input {
  margin-top: 3vh;
}
/* grant */
