section .main_table {
  height: 44vh;
  text-align: center;
}
section .main_table thead {
  height: 4vh;
  text-align: start;
}
section .main_table tbody {
  height: 40vh;
  overflow: hidden;
}
/* table */
/* table tr {
  display: flex;
  flex-direction: row;
}
table tr th {
  flex: 0.3;
  align-content: center;
}
table tr td {
  flex: 0.7;
  align-content: center;
} */