section .main_table {
  height: 44vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
section .main_table table {
  width: 70%;
}
section .main_table thead tr {
  height: 4vh;
}
section .main_table tbody tr {
  height: 4vh;
}
