{% extends 'base.html' %}
{% block content %}
<section class="container border-top border-primary border-5">
  <table class="table main_table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">type</th>
        <th scope="col">score</th>
        <th scope="col">reason</th>
        <th scope="col">from</th>
        <th scope="col">to</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% if event_list %}
      {% for event in event_list %}
      <tr>
        <th scope="row">{{ loop.revindex }}</th>
        <td>{{ event._type }}</td>
        <td>{{ event.score }}</td>
        <td>{{ event.reason }}</td>
        <td>{{ event.teacher.name }}</td>
        <td>{{ event.student.name }}</td>
        <td>{{ event.event_date }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="7" rowspan="5" style="line-height: 20rem;" class="text-body-secondary">이벤트가 발생하지 않았습니다.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</section>
{% endblock %}