{% extends 'base.html' %}
{% block content %}
{{ a }}
{{ b }}
{{ c }}
{{ d }}
{{ e }}
<link rel="stylesheet" href="{{ url_for('static', filename='event.css') }}">
  <section class="container">
    <form method="post" name="studentListForm" class="post-form child">
      <div class="left">
        <!-- Type -->
        <div class="Type">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Type" id="typeRadio1" value="상점">
            <label class="form-check-label" for="typeRadio1">상점</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Type" id="typeRadio2" value="벌점">
            <label class="form-check-label" for="typeRadio2">벌점</label>
          </div>
        </div>
        <!-- score -->
        <div class="score form-floating">
          <input type="number" class="form-control" name="score" id="scoreNumber" placeholder="score">
          <label for="scoreNumber">부여할 점수</label>
        </div>
        <!-- reason -->
        <div class="reason">
          <select class="form-select" id="reasonSelect">
            {% for reason in reason_list %}
              <option value="{{ loop.index }}">{{ reason }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- student -->
        <div class="grade">
          <select class="form-select" id="studentSelect" name="grade">
            <option value=1>1학년</option>
            <option value=2>2학년</option>
            <option value=3>3학년</option>
          </select>
        </div>
        <!-- Class -->
        <div class="Class form-floating">
          <input type="number" name="Class" class="form-control" id="ClassInput" placeholder="Class">
          <label for="ClassInput">반</label>
        </div>
        <input type="submit" class="form-control btn btn-primary" name="requestStudents" value="제추르">
      </div>
    </form>
    <form method="post" name="studentSelectForm" class="post-form child">
      <div class="right">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">grade</th>
              <th scope="col">class</th>
              <th scope="col">number</th>
              <th scope="col">name</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% if student_list %}
              {% for student in student_list %}
                <tr>
                  <th scope="row">{{ loop.revindex }}</th>
                  <td>{{ student.grade }}학년</td>
                  <td>{{ student.Class }}반</td>
                  <td>{{ student.number }}번</td>
                  <td>{{ student.name }}</td>
                </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="5" class="text-body-secondary">검색된 학생이 없습니다.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </form>
  </section>
</form>
{% endblock %}