<!-- https://www.ncas.or.kr/ -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
  <!-- hnav.onclick(nav 하단 슬라이드 + (header, nav) 백그라운드 동시 변화) -->
  <div id="hnav" class="container">
    <header class="border-bottom bg-light-subtle">
      <h1>Title</h1>
    </header>
    <nav class="bg-light border-bottom border-primary border-5">
      <div class="container"><a href="/register" class="text-center">등록</a></div>
      <div class="container"><a href="#" class="text-center">b</a></div>
      <div class="container"><a href="#" class="text-center">c</a></div>
      <div class="container"><a href="#" class="text-center">d</a></div>
    </nav>
  </div>
    {% block content %}
    {% endblock %}
</body>
</html>